body {
  width: 1300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #efefef;
  font-family: sans-serif;
}

h1 {
  color: white;
  background-color: #3f3faf;
  padding: 10px;
  text-shadow: 2px 2px navy;
}

h2 {
  color: darkslategray;
}

#con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.shop {
  background-color: #e3eeef;
  padding: 10px;
  border-radius: 10px;
}

.shop h3 {
  font-family: cursive;
  color: #3f3faf;
  background: linear-gradient(white, #ffefaf);
}

.photo {
  width: 120px;
  float: right;
  margin-left: 10px;
}

p {
  font-size: 14px;
}
