p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color: white;
  	text-shadow: 2px 2px navy;
}

h2 {
	margin: 5px;
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(to right, white, #ffefaf);
}

div#zentai {
	display: grid;
	width: 1024px;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

div#zentai > div {
	margin-left: 5px;
	padding: 5px;
	margin: 0;
	height: 200px;
	background-color: #ffefaf;
}

.float-right {
	float: right;
}
